div {
    width: 80%;
    margin: 0 auto;
    height: 100px;
}

.bgcolor {
    background-color: #ff4533;
}

.bgimage {
    background-image: url(batako.jpg);
}

.bgposition {
    height: 350px;
    background: ur;
}